{% extends 'layout.html'%}
{% block content %}
<div id="home-map"></div>
<div class="container center-align card  grey lighten-4" id="home-container">
    <span class="home-text"></span>
    <br>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="images/ny2.JPG"></div>
</div>
<div class="section white" id="food-map">
</div>
<div class="row">
    <div class="col m4 container" id="food-container">
        <div class="card grey lighten-2" id="food-card">
            <div class="card-content black-text grey lighten-4">
                <span class="card-title">Food Establishment Complaints</span>
                <span id="food-hood"></span>
                <br>
                <span id="food-count"></span>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="images/ny3.JPG"></div>
</div>
<div class="section white" id="noise-map">
</div>
<div class="parallax-container">
    <div class="parallax"><img src="images/ny4.JPG"></div>
</div>
<div class="section white" id="graffiti-map">
</div>
<div class="parallax-container">
    <div class="parallax"><img src="images/ny5.JPG"></div>
</div>
{% endblock %}
