  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/custom.css"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <header>

    </header>
    <body class="grey lighten-5">

      {% block content %}
      {% endblock %}
      <!--Import jQuery before materialize.js-->
      <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBukZ6vAJ-XjCyADpZ3Ebr_7O-ltyQsx-s&callback=initMap">
    </script>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="typed.js"></script>
      <script type="text/javascript" src="custom.js"></script>
      </body>
  </html>

